appdirs==1.4.3
astroid==2.4.0
attrs==19.3.0
black==19.10b0
cfgv==3.1.0
click==7.1.2
distlib==0.3.0
entrypoints==0.3
ez-setup==0.9
filelock==3.0.12
flake8==3.8.0a2
greenlet==0.4.15
identify==1.4.15
importlib-metadata==1.6.0
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
msgpack==1.0.0
neovim==0.3.1
nodeenv==1.3.5
numpy==1.18.3
pathspec==0.8.0
pre-commit==2.3.0
pycodestyle==2.6.0a1
pyflakes==2.2.0
pylint==2.5.0
pynvim==0.4.1
PyYAML==5.3.1
regex==2020.4.4
six==1.14.0
toml==0.10.0
typed-ast==1.4.1
Vapory==0.1.1
virtualenv==20.0.18
wrapt==1.12.1
zipp==3.1.0
